services:
  traefik:
    image: traefik:v2.10
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: 11090806
      MYSQL_DATABASE: mifica
      MYSQL_USER: mifica
      MYSQL_PASSWORD: 11090806
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  mifica-backend:
    build: ./mifica-backend
    depends_on:
      - mysql
      - kafka   # backend só sobe depois que Kafka estiver pronto
    volumes:
      - ~/.m2:/root/.m2
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.backend.rule=PathPrefix(`/api`)"
      - "traefik.http.services.backend.loadbalancer.server.port=8080"

  # Em desenvolvimento, rode o frontend localmente com npm run dev
  # Em produção, use este serviço
  mifica-frontend:
    build: ./mifica-frontend
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.rule=PathPrefix(`/`)"
      - "traefik.http.services.frontend.loadbalancer.server.port=80"

  mifica-streamlit:
    build: ./mifica-streamlit
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.streamlit.rule=PathPrefix(`/streamlit`)"
      - "traefik.http.services.streamlit.loadbalancer.server.port=8501"
      - "traefik.http.routers.streamlit.entrypoints=web"
    command: >
      streamlit run app.py
      --server.baseUrlPath=streamlit
      --server.enableCORS=false
      --server.enableXsrfProtection=false

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

volumes:
  mysql_data:
